/*
 *所有文章页面配图css
 */
.row.zjgt{
	background:url(../img/shanhaiching/zjgt.jpg) no-repeat bottom right;
}
.row.zjgt .art-title{
	padding-bottom:100px;
}
.details.cmlx .row{
	background: #fff url(../img/shanhaiching/cmlx.jpg) no-repeat top right;
	background-size:50%;
}
.cmlx .row,.zjzf .row{
	background:rgba(255,255,255,.3);
}
.details.zjzf{
	background: #fff url(../img/shanhaiching/zjzf2.jpg) no-repeat bottom center;
	background-size:80%;
}
@media (max-width: 640px){
	.details.cmlx .row{
		background-position:bottom center;
		padding-bottom:200px;
		background-size:auto 200px;
	}	
}
