/*
 *所有文章页面配图css
 */
.details.theme{
	background: url(../img/shanhaiching/theme.jpg) no-repeat 50% 50%;
}
/**********7月 山海经*********/
.details.baike{
	background:url(../img/shanhaiching/baike1.jpg) no-repeat bottom right;
}
.details.shenhua .row{
	background:url(../img/shanhaiching/shenhua1.jpg) no-repeat bottom left;
}
.details.baike .row{
	background:url(../img/shanhaiching/baike2.jpg) no-repeat  left;
}
.details.ding {
	background:url(../img/shanhaiching/ding.jpg) no-repeat  bottom;
	background-size:80% auto;
}
.details.caixiang .row img{
	border:1px solid #ccc;
}
.row.zjgt{
	background:url(../img/shanhaiching/zjgt.jpg) no-repeat bottom right;
}
.row.zjgt .art-title{
	padding-bottom:100px;
}
.details.cmlx .art-content{
	background: #fff url(../img/shanhaiching/cmlx.jpg) no-repeat top right;
	background-size:50%;
	background-position-y:200px;
}
img.w3-fl,div.w3-fl{
	width:30%;
	float:left;
	margin-right:1em;
}
img.w3-fr,div.w3-fr{
	width:30%;
	float:right;
	margin-left:1em;
}
div.w3-fl,div.w3-fr{
	border:1px solid #ddd;
	background:#f7f7f7;
	padding:1em;
}
img.w5-fr{
	width:50%;
	float:right;
	margin-left:1em;
}
img.w5-fl{
	width:50%;
	float:left;
	margin-right:1em;
}
img.w10{
	width:100%;
}
.shi p{
	text-indent:0 !important;
}
.details.dmg{
	background:url(../img/shanhaiching/dmg.jpg) no-repeat 85% 10% !important;
}
.details.dmg .art-content{
	background:rgba(255,255,255,.6);
}
.details.dmg .art-title{
	background:transparent !important;
	border: 0 !important;
}
.details.ygys{
	background: #fff url(../img/shanhaiching/ygys.jpg) no-repeat bottom right fixed;
	background-size:40% auto;
	color:#777;
}
.art-title.zhisou,.art-title.yugong,.art-title.xiaoling{
	border: 0 !important;
	background-size:120px auto;
}

.art-title.zhisou{
	background:url(../img/shanhaiching/zhisou.jpg) no-repeat right !important;
}
.art-title.yugong{
	background:url(../img/shanhaiching/yugong.jpg) no-repeat right !important;
}
.art-title.xiaoling{
	background:url(../img/shanhaiching/xiaoling.jpg) no-repeat right !important;
}
.details.zys{
	background: #fff url(../img/shanhaiching/zys.jpg) no-repeat right bottom fixed;
	background-size:100% auto;
}
.details.zys2{
	background: #fff url(../img/shanhaiching/zys2.jpg) no-repeat left 200px;
	background-size:30%;
}
.details.zys3{
	background: #fff url(../img/shanhaiching/zys2.jpg) no-repeat left fixed;
	background-size:cover;
}

@media (max-width: 640px){
	.details.cmlx .art-content{
		background-position:bottom center;
		padding-bottom:200px;
		background-size:auto 200px;
	}	
}

/*******************8月 诗经*******************************/
.cffy .row>div{
	border-left:1px solid #ddd;
	padding-bottom:1em;
}
.cffy .row>div:first-child{
	border-left:0;
}
.shijing{
	background: url(../img/shanhaiching/theme.jpg) no-repeat center -180px fixed;
}
