/*
 *所有文章页面配图css
 */
.row.zjgt{
	background:url(../img/shanhaiching/zjgt.jpg) no-repeat bottom right;
}
.row.zjgt .art-title{
	padding-bottom:100px;
}
.details.cmlx .art-content{
	background: #fff url(../img/shanhaiching/cmlx.jpg) no-repeat top right;
	background-size:50%;
	background-position-y:200px;
}
.zjzf .row{
	background:rgba(255,255,255,.7);
}

.details.ygys{
	background: #fff url(../img/shanhaiching/ygys.jpg) no-repeat bottom right fixed;
	background-size:40% auto;
	color:#777;
}
.art-title.zhisou,.art-title.yugong{
	border: 0 !important;
}
.art-title.zhisou{
	background:url(../img/shanhaiching/zhisou.jpg) no-repeat right !important;
}
.art-title.yugong{
	background:url(../img/shanhaiching/yugong.jpg) no-repeat right !important;
}
.details.zys .row{
	background: #fff url(../img/shanhaiching/zys.jpg) no-repeat right top;
	background-size:25% auto;
}
.details.zys2 .row{
	background: #fff url(../img/shanhaiching/zys2.jpg) no-repeat left 200px;
	background-size:50% auto;
}

@media (max-width: 640px){
	.details.cmlx .art-content{
		background-position:bottom center;
		padding-bottom:200px;
		background-size:auto 200px;
	}	
}
